{% extends 'base.html' %}

{% load static %}

{% block title %}data{% endblock title %}

    {% block header %}
    <header class="masthead" style="background-image: url({% static 'assets/img/post-bg.jpg' %})">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h2>利用されているジム</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {% endblock header %}

    {% block contents %}
    <div class="data-image">
        <img src="{% url 'workout:img_plot' %}">
    </div>
    {% endblock contents %}