{% extends 'base.html' %}

{% block title %}Post{% endblock title %}

    {% block contents %}
    <br><br>
    <div>
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <ul>
            <li class="list-content">
                <p class="list-title">タイトル</p>
                <p class="form">{{ form.title }}</p>
            </li>
            <li class="list-content">
                <p class="list-title">内容</p>
                <p class="form">{{ form.category }}</p>
            </li>
            <li class="list-content">
                <p class="list-title">場所</p>
                <p class="form">{{ form.place }}</p>
            </li>
            <li class="list-content">
                <p class="list-title">本文</p>
                <p class="form">{{ form.content }}</p>
            </li>
            <li class="list-content">
                <p class="list-title">画像</p>
                <p class="form">{{ form.image1 }}</p>
            </li>
        </ul>
        <button type="submit">投稿する</button>
    </div>
    {% endblock contents %}