<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <style>
            .pad{
            background-color: lavender;
            border: solid 2px;
            padding-top: 30px;
            padding-bottom: 50px;
            padding-left: 100px;
            margin-top: 50px;
            margin-right: 70px;
            margin-left: 70px;
            }
        </style>
    </head>
    <body>
        <div>
            <h2>Workout</h2>
            <h4> 新しいパスワードを2回入力してください。これにより、
                正しく入力できたことが確認されます。
            </h4>

            <form action="" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="パスワードリセット">
            </form>
        </div>
    </body>
</html>